#topbar{
    background-color: #ffdf01;
    max-width: 100%;
    margin:0 auto;
    padding-bottom: 0px;
    border-bottom:20;
    border-top: #000000;
    
}
.container{
    margin-left:0px;
    margin-right:0px;
}
.row.topbar1-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120%;
    height: 80px;
    padding:0;
}
#logo{
    width: 40%;
    height: auto;

}
#books{
    width: 30px;
    height: 30px;

}
.row.section1-1{
    align-items:center;
    padding-left: 10rem;
    margin-right:-1rem;
}
.img-wrapper{
    position: relative;
    text-align: center;
    background-image: url('Images/cg_intro.jpeg');
    background-repeat: no-repeat;
    background-size: 160%;
    height: 600px;
  }
  #header1{
    color: #ffdf01;
   padding-top: 50px;
    font-size: 65px;
    font-weight: bold;
  }
  #header2{
    color:white;
    padding-bottom: 30px;
    font-size: 50px;
  }
  .button1{
    background-color: #ffdf01;
    border-color:none;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 0px 2px;
    margin-bottom: 35px;
    cursor: pointer;
    border-radius: 0px;
    padding: 5px 5px;
    font-family: 'Poppins Light';
  }
.fa-circle{
    color: #ffdf01;
    font-size: 700%;
    padding:0 50px;
}
#parent{
    position: relative;


}
#child{
    position:absolute;
    top:-70px;
    right:15px;
}
#icon{
    height:4rem;
    width:4rem;
}

.circle{
 display: inline-block;
 overflow: none;
 border-radius: 50%;
 background-color: #ffdf01;
 padding: 20px;
 margin:0 40px;
 margin-top: 50px;
}
.section2{
    background-color: #eeeeee;
}

.level1 img,.level2 img,.level3 img{
border: solid;
border-radius: 0%;
border-top-color: rgba(250,250,250,255);
border-bottom-color: rgba(214,214,214,255);
border-left-color:rgba(250,250,250,255) ;
border-right-color:rgba(214,214,214,255) ;
margin:0;
height: 100px;
width:130px;
padding:10px 20px;
box-shadow: 1px 1px 0px 0px #e6e6e6;
}
.level1, .level2, .level3{
padding-left: 10rem;
}

.levels{
    margin:0;

    
}

.col-2-sm{
    display: inline;
}
.section2 h3{
font-family: "Hind";
padding-left: 20rem;
padding-top:3rem;
padding-bottom: 2rem;
}