
.topbar1{
    max-width: 95%;
    margin:0 auto;
    padding: 0 16px;
    padding-bottom: 0px;
    border-bottom:20;
    border-top: #000000;
    


}
.row.topbar1-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
   
}
.backbutton{
    align-items: center;
    margin-right: 13px;
    color: #000;
    cursor: pointer;
    background-color: #fff;
    border: none;
}
.devices{
    align-items: center;
    padding:5px;

}
.header-button{
    font-size: 10px;
    padding: 10px 24px;
    border-width: 0;
    background-color: #583bb6;
    border-color: #583bb6;
    color: #fff;
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.67;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .188em;
    cursor: pointer;
    border: 0 solid rgba(0,0,0,0);
    border-radius: 50px;
    outline: 0;
    transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color,background-color,color;
    transform: translate3d(0, 0, 0);

}
.creditcard{
    margin-right: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.429;
    overflow-wrap: break-word;
    letter-spacing: .017857em;
}
.templates{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .5px;
    font-weight: 400;
    overflow-wrap: break-word;
}
.topbar2{
    margin:0 0 0 40px;
    color: #1a1a1a;
    


}
.row.topbar2-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;

}
.topbar2-right{
    padding-left: 26rem;
   font-style:  "DM Sans", sans-serif;

}
.optionsbar{
    padding:2rem;
}
.section1{
    position: relative;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
    min-width: 100%;
}
.img-wrapper{
    position: relative;
    text-align: center;
    background-image: url('Images/Rectangle-YZ9P6kWjMnUBNL6W.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 630px;
  }
  .img-wrapper img {
    left: 0;
    top: 0;
  }
  .img-overlay {
    color: white;
     position: absolute;
    top: 20%;
    left: 0%;
      margin:  auto;
    width:100%
  }
  .img-overlay h2{
    font-family:"Poppins Light";
    font-size:6rem;
  }
  .mt-2{
    font-family: 'DM Sans';
    font-size: 20px;
    font-weight: lighter;
  }
  .button1{
    background-color: white;
    border-color:none;
    color: #4d2c57;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0px;
    padding: 14px 40px;
    font-family: 'Poppins Light';
  }
.section2{
    padding-top: 2rem;
    padding-bottom: 6rem;
    position: relative;
    width: 100%;
    min-width: 100%;
}

  #section2-header{
    text-align: center;
    padding-left: 33rem;
    padding-bottom: 4.5rem;
    color: #4d2c57;
  }
  .img-wrapper-2{
    position: relative;
    text-align: center;
    background-image: url('Images/Untitled-AzGRJwMK6BHxZypJ.webp');
    background-repeat: no-repeat;
     background-size: 100%;
     height: 700px;  
  }
  .button2{
    background-color: white;
    border: 2px solid;
    border-color: #4d2c57;
    color: #4d2c57;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 0px;
    padding: 14px 40px;
    font-family: 'Poppins Light';
  }
  .goods{
    font-family: "Poppins Medium";
    color: #4d2c57;
    padding-left: 60px;

  }
  .cost{
    font-family: "Poppins ExtraLight";
    color: #4d2c57;
    margin-top: 20px;
    padding-left: 6rem;
  }
  .section3{
    position: relative;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    width: 100%;
    min-width: 100%;
    padding-bottom: 5rem;
  }

  .section4{
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
  }
  .section4.img-height {
    height: 100%;
    width:100%;
    font-size: 32px;
  }
  .bigheader{
    font-family: "Poppins Medium";
    color: #4d2c57;
  }
.smallheader{
    font-family: "DM Sans";
    font-size: 20px; 
}
#email-form-group{
    margin:0px 27rem;
 
    
 }
 #exampleInputEmail1{
     background: rgba(245,248,251,.6);
     border-radius: 0%;
     width: 100%;
     height: 48px;
     padding: 20px 60px 20px 20px;
     border:none;
     font-family: "DM Sans"; 
 }
.img-wrapper-3{
    position: relative;
    text-align: center;
    background-image: url('Images/sign\ up\ for\ news.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
}
#instagramhandle{
    color: #4d2c57;
    font-size: 1.5rem;
    font-family: "Poppins Light";
}



.final{
    background-color: rgba(1,1,1,0.04);
    width: 100%;
    height: 100%;
    min-width: 100%;
    padding: 7rem 0rem;
  


}
