
.topbar1{
    max-width: 95%;
    margin:0 auto;
    padding: 0 16px;
    padding-bottom: 0px;
    border-bottom:20;
    border-top: #000000;
    


}
.row.topbar1-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
   
}
.backbutton{
    align-items: center;
    margin-right: 13px;
    color: #000;
    cursor: pointer;
    background-color: #fff;
    border: none;
}
.devices{
    align-items: center;
    padding:5px;

}
.header-button{
    font-size: 10px;
    padding: 10px 24px;
    border-width: 0;
    background-color: #583bb6;
    border-color: #583bb6;
    color: #fff;
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.67;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .188em;
    cursor: pointer;
    border: 0 solid rgba(0,0,0,0);
    border-radius: 50px;
    outline: 0;
    transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color,background-color,color;
    transform: translate3d(0, 0, 0);

}
.creditcard{
    margin-right: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.429;
    overflow-wrap: break-word;
    letter-spacing: .017857em;
}
.templates{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .5px;
    font-weight: 400;
    overflow-wrap: break-word;
}
.topbar2{
    margin:0 0 0 40px;
    color: #1a1a1a;
    


}
.row.topbar2-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;

}
.topbar2-right{
    padding-left: 26rem;
   font-style:  "DM Sans", sans-serif;

}
.optionsbar{
    padding:2rem;
}
.section1{
    --content-width: 1600px;
    --grid-width: 1224px;
    --column-count: 12;
    --content-padding: 16px;
    --rows: 12;
    --row-gap: 16px;
    --row-size: 48px;
    --column-gap: 24px;
    --block-padding-top: 16px;
    --block-padding: 16px 0;
    --block-padding-right: 0;
    --block-padding-bottom: 16px;
    --block-padding-left: 0;
    --m-block-padding: 56px 16px 56px 16px;
    position: relative;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    width: 100%;
    min-width: 100%;
}
.img-wrapper{
    position: relative;
    text-align: center;
    background-image: url('Images/Rectangle-YZ9P6kWjMnUBNL6W.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
  }
  .img-wrapper img {
    left: 0;
    top: 0;
  }
  .img-overlay {
    color: white;
     position: absolute;
    top: 20%;
    left: 0%;
      margin:  auto;
    width:100%
  }
  .img-overlay h2{
    font-family:"Poppins Light";
    font-size:7rem;
  }
  .mt-2{
    font-family: 'DM Sans';
    font-size: 20px;
    font-weight: lighter;
  }
  .button1{
    background-color: white;
    border-color:none;
    color: #4d2c57;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0px;
    padding: 14px 40px;
    font-family: 'Poppins Light';
  }
.section2{
    padding-bottom: 6rem;
    position: relative;
    width: 100%;
    min-width: 100%;
}

  #section2-header{
    text-align: center;
    padding-left: 33rem;
    padding-bottom: 3rem;
    color: #4d2c57;
  }
  .img-wrapper-2{
    position: relative;
    text-align: center;
    background-image: url('Images/Untitled-AzGRJwMK6BHxZypJ.webp');
    background-repeat: no-repeat;
     background-size: 100%;
     height: 700px;  
  }
  .section3{
    --content-width: 1600px;
    --grid-width: 1224px;
    --column-count: 12;
    --content-padding: 16px;
    --rows: 13;
    --row-gap: 16px;
    --row-size: 48px;
    --column-gap: 24px;
    --block-padding-top: 0px;
    --block-padding: 0px 0 0px 0;
    --block-padding-right: 0;
    --block-padding-bottom: 0px;
    --block-padding-left: 0;
    --m-block-padding: 56px 16px 56px 16px;
    position: relative;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    width: 100%;
    min-width: 100%;
  }
